{% extends "layout.html" %}
{% block title %}Delivery #{{ delivery.id }}{% endblock %}
{% block body %}
<h1>Delivery Details</h1>
<img style="float: right;" src="http://earn-bitcoins.com/images/earn-bitcoins-donations-qr-code.png">

<div><span style="box-shadow: 7px 7px #888;
                    font-size: 350%;
                    padding:10px;
                    margin:10px;
                    border:1px black solid;">
    <img height="64" src="/static/images/K logo.png">
    <strong>IL<span style="font-size: 120%;">C6Z</span></strong></span><br><br> [Ida Lincoln <strong>Charlie Six
    Zebra]</strong>
</div>
<pre>

    From:
    {{ delivery.from_.address }}

    To:
    {{ delivery.to_.address }}

</pre>

<divstyle="margin:10px"><img style="float: left;"
                             src="http://ttiles04.mqcdn.com/tiles/1.0.0/vy/map/15/19548/13299.png"> to ->
<img style="float: none;" src="http://ttiles04.mqcdn.com/tiles/1.0.0/vy/map/15/19548/13299.png"></div>

<pre style="clear:both">
    Price: {{ delivery.reward }}

    Commitment: {{ delivery.penalty }}
</pre>

{% if delivery.courier %}
<h4>In transit</h4>
<h3>Curried by user: {{ delivery.courier.name }}</h3>
<h4>history of locations</h4>
{% endif %}

<input type=submit class=submit value="הדפס">
<input type=submit class=submit value="הדפס בלי מפות">

{% if 'take' == op %}
<h1>Take this delivery</h1>
I, {{ g.user.name }}, hereby solemnly swear to deliver a parcel from {{ delivery.from_.address }} to {{ delivery.to_.address }}, for {{ delivery.reward }} pieces of silver. I am placing a deposit of {{ delivery.penalty }} pieces of silver to be forfeited should I fail. In addition, I swear upon my left testicle to uphold order and justice, and to remain true to the Green Lantern Corps code of honor.
<form id=takedelivery action=take>
    <input type=hidden name=id value="{{ delivery.id }}">
    <input type=submit value="I'm on my way">
</form>
<h1>Pull this delivery</h1>
I, {{ g.user.name }}, hereby solemnly swear that if some poor bastard decides to get this parcel to me, I will take it off his hands, delivering it to where it should go and taking the deposit upon myself.
<form id=pulldelivery action=pull>
    <input type=hidden name=id value="{{ delivery.id }}">
    <input name=to placeholder="Where to">
    <input name=reward placeholder="Price offered">
    <input name=addedpenalty placeholder="Added deposit">
    <input type=submit value="Ask for this delivery">
</form>
{% elif 'drop' == op %}
<h1>Drop this delivery</h1>
I, {{ g.user.name }}, hereby solemnly swear that I delivered a parcel from {{ delivery.from_.address }} to {{ delivery.to_.address }}, for {{ delivery.reward }} pieces of silver. I now claim this reward, and demand the return of my deposit of {{ delivery.penalty }} pieces of silver. And check this out - I'll even upload a proof.
<form id=takedelivery action=drop method=post enctype=multipart/form-data>
    <input type=hidden name=stata value="{{ delivery.id }}">
    <input type=hidden name=id value="{{ delivery.id }}">
    <input type=file name=proof placeholder=proof>
    <input type=submit value="Gimme gimme">
</form>
{% endif %}

{% endblock %}
