{% extends "layout.html" %}
{% block title %}give something{% endblock %}
{% block body %}
<h1>Take a delivery</h1>
I, {{ g.user.name }}, hereby solemnly swear that I delivered a parcel from {{ delivery.from_.address }} to {{ delivery.to_.address }}, for {{ delivery.reward }} pieces of silver. I now claim this reward, and demand the return of my deposit of {{ delivery.penalty }} pieces of silver. And check this out - I'll even upload a proof.
<form id=takedelivery method=post enctype=multipart/form-data>
    <input type=hidden name=ok>
    <input type=hidden name=stata value="{{ delivery.id }}">
    <input type=hidden name=id value="{{ delivery.id }}">
    <input type=file name=proof placeholder=proof>
    <input type=submit value="Gimme gimme">
</form>
{% endblock %}
