{% extends "layout.html" %}
{% block title %}send something{% endblock %}
{% block body %}
<h1>Delivery Details</h1>
<img style="float: right;" src="http://earn-bitcoins.com/images/earn-bitcoins-donations-qr-code.png">

<div><span style="box-shadow: 7px 7px #888;
                    font-size: 350%;
                    padding:10px;
                    margin:10px;
                    border:1px black solid;">
    <img height="64" src="/static/images/K logo .png">
    <strong>IL<span style="font-size: 120%;">C6Z</span></strong></span><br><br> [Ida Lincoln <strong>Charlie Six
    Zebra]</strong>
</div>
<pre>

    From:
    Tel Aviv, Israel
    bitzaron...

    To:
    .......

</pre>

<divstyle="margin:10px"><img style="float: left;"
                             src="http://ttiles04.mqcdn.com/tiles/1.0.0/vy/map/15/19548/13299.png"> to ->
<img style="float: none;" src="http://ttiles04.mqcdn.com/tiles/1.0.0/vy/map/15/19548/13299.png"></div>

<pre style="clear:both">
    Price:

    Commitment:
</pre>


<h4>current location</h4>
or
<h4>In transit</h4>
<h3>Curried by user: XXXX</h3>

<h4>history of locations</h4>


<form id=makedelivery>
    <input type=submit class=submit value="הדפס">
    <input type=submit class=submit value="הדפס בלי מפות">
</form>


{% endblock %}
