<!doctype html>
<title>Kloom - {% block title %}welcome{% endblock %}</title>
<meta charset=utf-8>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block head %}{% endblock %}
<a href="{{ url_for('index') }}">map</a>
{% if g.user %}
<a href="{{ url_for('sendpackage') }}">send</a>
<a href="{{ url_for('edit_profile') }}">profile</a>
<a href="{{ url_for('deliveries') }}">deliveries</a>
<a href="{{ url_for('logout') }}">sign out [{{ g.user.name }}]</a>
{% else %}
<a href="{{ url_for('login') }}">sign in</a>
{% endif %}
<div id=log></div>
{% for message in get_flashed_messages() %}
<p class=message>{{ message }}
{% endfor %}
{% block body %}{% endblock %}
