{% extends "layout.html" %}
{% block title %}send something{% endblock %}
{% block body %}
<h1>Make a delivery</h1>
<form id=makedelivery>
    <input name=from placeholder=from value="{{ form['from'] }}" autofocus>
    <input name=to placeholder=to value="{{ form['to'] }}">
    <input name=reward placeholder=for value="{{ form['reward'] }}">
    <input name=penalty placeholder=deposit value="{{ form['penalty'] }}">
    <input type=submit class=submit value=send>
</form>


<h2>New Layout</h2>

<h3>Enter FROM Address</h3>
<h5>select from previous addresses</h5>

<div style="float: left;margin:10px"><img src="http://ttiles04.mqcdn.com/tiles/1.0.0/vy/map/15/19548/13299.png"></div>

<form id=makedelivery>
    <input name=country placeholder=country value="ישראל" autofocus><br/>
    <input name=city placeholder=city value="תל אביב יפו"><br/>
    <input name=street placeholder=street value="ביצרון"><br/>
    <input name=number placeholder=number value="38"><br/>
    <input name=more placeholder=more value="כניסה שלישית"><br/>
    <input type=submit class=submit value=send>
</form>
<pre>
When hitting send (or constantly if makes sense) the page should check address validity.
If invalid, doesn't allow send.
city, street etc should be from drop down list

Possible errors:
    invalid address
    please choose house number
</pre>


<h2>Another page!</h2>

<h3>Enter TO Address</h3>
<h4>Send from: ביצרון 38... click here to change FROM address (go back)</h4>
<h5>select from previous addresses</h5>

<div style="float: left;margin:10px"><img src="http://ttiles04.mqcdn.com/tiles/1.0.0/vy/map/15/19548/13299.png"></div>
<form id=makedelivery>
    <input name=country placeholder=country value="ישראל" autofocus><br/>
    <input name=city placeholder=city value="תל אביב יפו"><br/>
    <input name=street placeholder=street value="ביצרון"><br/>
    <input name=number placeholder=number value="38"><br/>
    <input name=more placeholder=more value="כניסה שלישית"><br/>
    <input type=submit class=submit value=send>
</form>

<h2 style="clear:both">Another page!</h2>

<h3>Details</h3>
<h4>Send from: ביצרון 38... to .....click here to change TO address (go back)</h4>
<h5>enter details</h5>

<form id=makedelivery>
    type <input name=size placeholder=size value="מעטפה"> should be a drop down with clear options<br/>
    reward <input name=reward placeholder=for value="0"><br/>
    penalty <input name=penalty placeholder=deposit value="0"><br/>
    <input type=submit class=submit value="create shipment!">
</form>

<h2>Another page!</h2>
<h3>should lead to delivery page</h3>

{% endblock %}
