{% extends "layout.html" %}
{% block body %}
<h1>Take a delivery</h1>
I, {{ g.user.name }}, hereby solemnly swear to deliver a parcel from {{ delivery.from_.address }} to {{ delivery.to_.address }}, for {{ delivery.reward }} pieces of silver. I am placing a deposit of {{ delivery.penalty }} pieces of silver to be forfeited should I fail. In addition, I swear upon my left testicle to uphold order and justice, and to remain true to the Green Lantern Corps code of honor.
<form id=takedelivery>
    <input type=hidden name=ok>
    <input type=hidden name=id value="{{ delivery.id }}">
    <input type=submit value="I'm on my way">
</form>
{% endblock %}
